body {
    max-width: 500px;
    margin: 0 auto;
}

.messages {
    margin-bottom: 20px;
}

.sentMessage {
    padding: 5px;
    color: blueviolet;
}

.recievedMessage {
    padding: 5px;
    color: aqua;
}